﻿
@{
    ViewBag.Title = "Login";
}

<h2>登入</h2>
@if (!String.IsNullOrEmpty(ViewBag.Message))
{
    <div>
        @ViewBag.Message
    </div>
}
<form action="/Home/Login" method="post">
    E-mail:<input type="text" name="email" value="" /><br>
    密碼:<input type="password" name="password" value="" /><br>
    <input type="submit" value="登入" />
</form>

